* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}



button {
    padding:10px;
    border: 2px solid #202020;

}

li {

    font-size: 17px;
    width: 500px;
}

.wrapper {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}


li {
    display: flex;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 60px;
}

h2 {
    text-align: center;
    font-size: calc(40px / 2);
    letter-spacing: 0px;
    position: relative;
    top: 450px;
    font-family: sans-serif;
    /* display: none; */
}