* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #101010;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px;
  border: 2px solid #202020;
}

li {
  font-size: 17px;
  width: 500px;
}

#wrapper {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  display: none;
  position: relative;
  top: 100px;
}

#listsDesktop {
  /* display: flex; */
  /* justify-content: space-evenly; */
  font-family: sans-serif;
  /* display: none; */
  position: relative;
  top: 470px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  font-weight: 700;
}

img {
  height: 250px;
  border-radius: 50%;
  border: px solid #ccc;
}

li {
  display: inline;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin: 20px;
  position: relative;
  top: calc(75px * 2);
  /* padding-right: 40px; */
  /* color: white; */
}

header {
  padding: 20px;
  background-color: #101010;
}

#projects {
  text-align: center;
  font-size: calc(37px / 2);
  letter-spacing: 0px;
  position: relative;
  top: 70px;
  font-family: sans-serif;
}

header a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
}

#date {
  text-align: center;
  font-size: calc(40px / 2);
  letter-spacing: 0px;
  position: relative;
  top: 450px;
  font-family: sans-serif;
}

a {
  display: block;
}

button {
  width: calc(900px / 2);
  position: relative;
  top: calc(35px * 10);
}

@media screen and (max-width: 1200px) {
  li {
    display: inline;
    padding: 20px;
    /* max-width: 500px; */
    position: relative;
    top: calc(75px * 2);
    padding-right: 20px;
    /* background-color: white; */
    color: red;
  }

  #listsDesktop {
    display: none;
  }

  #wrapper {
    display: flex;
  }
  /* #projects {
    text-align: center;
    font-size: calc(40px / 2);
    letter-spacing: 0px;
    position: relative;
    top: 100px;
    font-family: sans-serif;
  } */

  button {
    width: 200px;
    position: relative;
    top: calc(295px * 2);
  }
}

@media screen and (max-width: 1400px) {
  li {
    padding: 20px;
    /* max-width: 500px; */
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    top: calc(75px * 2);
    /* padding-right: 40px; */
    color: red;
    margin: 20px auto;
  }
}
