* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #101010;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px;
  border: 2px solid #202020;
}

li {
  font-size: 17px;
  width: 500px;
}

.wrapper {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

li {
  display: inline;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin: 20px;
  position: relative;
  top: calc(75px * 2);
  /* padding-right: 40px; */
  color: white;
}

header {
  padding: 20px;
  background-color: #101010;
}

h2 {
  text-align: center;
  font-size: calc(40px / 2);
  letter-spacing: 0px;
  position: relative;
  top: 450px;
  font-family: sans-serif;
}

a {
  display: block;
}

@media screen and (max-width: 1200px) {
  li {
    display: inline;
    padding: 20px;
    /* max-width: 500px; */
    position: relative;
    top: calc(75px * 2);
    padding-right: 20px;
    /* background-color: white; */
    color: white;
  }
}

@media screen and (max-width: 1400px) {
  li {
    padding: 20px;
    /* max-width: 500px; */
    display: flex;
    color: white;

    position: relative;
    top: calc(75px * 2);
    padding-right: 40px;
    background-color: white;
  }
}
